body{
  font-family: 'Lato', sans-serif;
  margin:0;
}
.nav-bar{
  width:100vw;
  height:3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#003580;
  color: white;
}
#aqua{
  color: rgb(0, 174, 255);
}
.nav-bar-content{
  width:50%;
  display: flex;
  align-items: center;
}
.left,
.right{
  width: 50%;
  height:100%;
  display: flex;
  align-items: center;
}
.right h1{
  margin: 0 1rem;
  font-size: 1rem;
  font-weight: 700;
}
.right button{
  margin: 0 1rem;
  padding: 0.2rem 1rem;
  border-radius:2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:white;
  color: #003580;
  font-weight: 700;
  border: 2px solid white;
}
.left{
  justify-content: flex-start;
}
.right{
  justify-content: flex-end;
}
.home,
.search{
  width:100vw;
  height: calc(100vh - 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
}
.search{
  padding-top: 3rem;
  height: auto;
}
.home-content,
.search-content{
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
}
.home-content h2{
  margin:0;
  font-size: 1.5rem;
  font-weight: 700;
}
.home-content h1{
  margin:0;
  font-size: 1rem;
  margin-bottom:1rem;
}
.search-bar{
  width:100%;
  height:3rem;
  display: flex;
  align-items: center;
}
.search-bar input{
  width:15rem;
  height:100%;
  padding: 0 1rem;
  border: 3px solid rgb(255, 174, 0);
  font-weight: 700;
  border-radius: 2px;
}
.search-bar button{
  margin: 0;
  padding: 0 1rem;
  height:3.4rem;
  border-radius:2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#003580;
  color: white;
  border: 3px solid rgb(255, 174, 0);
}
.ad{
  display: grid;
  grid-template-areas:
  'img1 img1 img1 img2 img2 img2'
  'img3 img3 img4 img4 img5 img5';
}
.img1 { grid-area: img1; padding: 1rem 1rem 1rem 0rem; }
.img2 { grid-area: img2; padding: 1rem 1rem 1rem 0rem; }
.img3 { grid-area: img3; padding: 1rem 1rem 1rem 0rem; }
.img4 { grid-area: img4; padding: 1rem 1rem 1rem 0rem; }
.img5 { grid-area: img5; padding: 1rem 1rem 1rem 0rem; }

.img1 img,
.img2 img,
.img3 img,
.img4 img,
.img5 img{
  width:100%;
  height:100%;
}
.calendar{
  margin: 1rem 0;
  width:30rem;
  height:20rem;
  background-color: white;
  border:1px solid rgb(206, 206, 206);
  display: flex;
  flex-direction: column;
}
.calendar-line{
  width:100%;
  height:16rem;
  border-bottom: 1px solid rgb(206, 206, 206);
  display: flex;
}
.calendar-line .left,
.calendar-line .right{
  width:50%;
  height:100%;
  display: grid;
  grid-template-columns:  auto auto auto auto auto auto auto;
}
.calendar-line .day,
.sign-line .day{
  width:1.5rem;
  height:1.5rem;
  background-color: white;
  margin: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-line .day{
  font-weight: 700;
  font-size: 1.5rem;
}
.calendar-line .day:hover,
.sign-line .day:hover{
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}
.sign-line{
  width:100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-line h1{
  margin:0 1rem;
}
.sign-line .separator{
  width:5px;
  height: 1px;
  background-color: black;
}
.hotels{
  width:100%;
  display: flex;
  flex-direction: column;
}
.hotel{
  width:100%;
  height: 10rem;
  display: flex;
  border: 1px solid gray;
  border-radius: 3px;
  align-items: center;
}
.hotel .left-side,
.hotel .middle-side,
.hotel .right-side{
  height:100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hotel .left-side,
.hotel .right-side{
  align-items: center;
}
.hotel .left-side{
  width: 30%;
}
.hotel .left-side img{
  height:80%;
  width:80%;
}
.hotel .middle-side{
  width: 45%;
}
.hotel .middle-side h1{
  font-size:1rem;
}
.hotel .middle-side p{
  font-size:0.7rem;
}
.hotel .middle-side h2{
  font-size:1.3rem;
  color: #003580;
}
.hotel .middle-side .stars-line{
  display: flex;
  align-items: center;
}
.hotel .middle-side img{
  width:1rem;
  height:1rem;
}
.hotel .middle-side h1,
.hotel .middle-side p,
.hotel .middle-side h2{
  margin:0;
}
.hotel .right-side{
  width: 25%;
}
.hotel .right-side h1{
  font-size: 1.5rem;
}
.hotel .right-side button{
  border-radius:2px;
  display: flex;
  height:2rem;
  justify-content: center;
  align-items: center;
  background-color:#003580;
  color: white;
  font-weight: 700;
  border: 0;
}