@import '../global';

.calendar {
    position: absolute;
    margin: 0;
    width: 30rem;
    height: 20rem;
    background-color: white;
    border: 1px solid $border-color;
    display: flex;
    flex-direction: column;
    z-index: 5;
}
.calendar-line {
    width: 100%;
    height: 16rem;
    border-bottom: 1px solid $border-color;
    display: flex;
    .left,
    .right {
        width: 50%;
        height: 100%;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto;
    }
}
.calendar-line,
.sign-line {
    .day {
        width: 1.5rem;
        height: 1.5rem;
        background-color: white;
        margin: 0.2rem;
        @include flex();
        &:hover {
            cursor: pointer;
            background-color: $border-color;
        }
    }
}
.sign-line{
    .day {
        font-weight: 700;
        font-size: 1.5rem;
    }
}
.sign-line {
    width: 100%;
    height: 2rem;
    @include flex();
    h1 {
        margin: 0 1rem;
    }
    .separator {
        width: 5px;
        height: 1px;
        background-color: black;
    }
}
