<div class="details" ng-controller="details-controller">
    <div class="search-filters">
        <h2>Search</h2>
        <h1>Destination</h1>
        <input ng-model="cityFilter2">
        <h1>From</h1>
        <input ng-model="firstDate2" ng-click="showCalendar()" ng-readonly="true">
        <ng-include src="'views/calendar.html'"></ng-include>
        <h1>To</h1>
        <input ng-model="secondDate2" ng-click="showCalendar()" ng-readonly="true">
        <select ng-model="adultsNum2">
            <option value="1">1 adult</option>
            <option ng-repeat="num in selectArray" value="{{num}}">{{num}} adults</option>
        </select>
        <div class="search-line">
            <select ng-model="childrenNum2">
                <option value="0">0 children</option>
                <option value="1">1 children</option>
                <option ng-repeat="num in selectArray" value="{{num}}">{{num}} children</option>
            </select>
            <select ng-model="roomsNum2">
                <option value="1">1 room</option>
                <option ng-repeat="num in selectArray" value="{{num}}">{{num}} rooms</option>
            </select>
        </div>
        <a ng-href="#!/search/{{cityFilter2}}/{{adultsNum2}}-{{childrenNum2}}-{{roomsNum2}}">
            <button
                ng-show="firstDate2==='Check In' || secondDate2==='Check Out' || firstDate2==='' || secondDate2===''">SEARCH</button>
        </a>
        <a
            ng-href="#!/search/{{cityFilter2}}/{{adultsNum2}}-{{childrenNum2}}-{{roomsNum2}}/{{firstDate2}}-{{secondDate2}}">
            <button
                ng-show="firstDate2!=='Check In' && secondDate2!=='Check Out' && firstDate2!=='' && secondDate2!==''">SEARCH</button>
        </a>
    </div>
    <div class="details-content">
        <h2>{{hotel.name}}</h2>
        <img ng-src="{{hotel.img}}">
        <p>{{hotel.longDescription}}</p>
        <div class="price-line">
            <div class="left">
                <h1 ng-show="timeDifference2">Todays price: {{timeDifference2*hotel.price*roomsNum2 | currency:"PLN"}}
                </h1>
            </div>
            <div class="right">
                <button ng-show="logedAc!==''" ng-click="reserveFunc()">Reserve</button>
                <a ng-href="#!/login">
                    <h1 id="orange" ng-show="logedAc===''">Login to be able to reserve hotel</h1>
                </a>
            </div>
        </div>

        <div class="opinions" ng-repeat="item in hotel.opinions">
            <div class="opinion">
                <div class="left">
                    <h1>{{item.author}}</h1>
                </div>
                <div class="middle">
                    <h1>{{item.opinion}}</h1>
                </div>
                <div class="right">
                    <h1>{{item.rating}}</h1>
                </div>
            </div>
        </div>
        <div class="opinion" ng-show="logedAc!==''">
            <div class="left">
                <h1>{{logedAc}}</h1>
            </div>
            <div class="middle">
                <input ng-focus="opinionFocusFunc()" ng-blur="opinionBlurFunc()" ng-model="opinion">
            </div>
            <div class="right">
                <select ng-model="rating">
                    <option value="none">0-10</option>
                    <option ng-repeat="number in opinionNumbers" value="{{number}}">{{number}}</option>
                </select>
                <button ng-click="addOpinion()">Add opinion</button>
            </div>
        </div>
        <h1 ng-show="wrongOpinion" id="warning">To add opinion opinion content must be entered and rating must be set</h1>
        <a  ng-href="#!/login">
            <h1 id="orange" ng-show="logedAc===''">Login to be able to add opinion</h1>
        </a>
    </div>
</div>