@import '../global';

.details-content {
        width: auto;
        height: 90%;
        display: flex;
        flex-direction: column;
    h2 {
        font-size: 1.5rem;
        color: $main-color;
        margin: 0;
    }
    h1 {
        font-size: 1rem;
        margin: 0;
    }
    img {
        width: 30rem;
        margin: 0;
    }
    p {
        width: 50rem;
        font-size: 0.8rem;
    }
}
.opinions {
    display: flex;
    flex-direction: column;
}
.opinion {
    width: 50rem;
    height: auto;
    display: flex;
    align-items: center;
    border: 1px solid $border-color;
    background-color: rgb(240, 240, 240);
    margin-bottom: 1rem;
    border-radius: 5px;
    h1 {
        font-size: 1rem;
    }
    .left {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        border-right: 1px solid $border-color;
        h1 {
            color: $main-color;
            font-weight: 700;
        }
    }
    .right {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
            display: flex;
            width: 1.5rem;
            background-color: $main-color;
            height: 1.5rem;
            color: white;
            border: 0;
            font-weight: 700;
            border-radius: 5px;
            -webkit-clip-path: polygon(
                0 29%,
                34% 29%,
                34% 0,
                68% 0,
                68% 28%,
                100% 28%,
                100% 71%,
                68% 70%,
                68% 100%,
                33% 100%,
                33% 70%,
                1% 70%
              );
              clip-path: polygon(
                0 29%,
                34% 29%,
                34% 0,
                68% 0,
                68% 28%,
                100% 28%,
                100% 71%,
                68% 70%,
                68% 100%,
                33% 100%,
                33% 70%,
                1% 70%
              );
            margin-left: 0.5rem;
            transform: rotate(90deg);
            &:hover{
                cursor: pointer;
            }
        }
        select {
            width: 5.5rem;
            padding: 0 1rem;
            height: 2rem;
            margin: 1rem 0;
            border: 1px solid $border-color;
            border-radius: 4px;
        }
        h1 {
            background-color: $main-color;
            color: white;
            font-weight: 700;
            width: 2rem;
            height: 1.5rem;
            @include flex();
            margin: 0.5rem 0;
            border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
            border: 0;
        }
    }
    .middle {
        width: 50%;
        display: flex;
        justify-content: flex-start;
        padding-left: 1rem;
        input {
            width: 20rem;
            padding: 0 1rem;
            height: 2rem;
            margin: 1rem 0;
            border: 1px solid $border-color;
            border-radius: 4px;
        }
    }
}
.price-line {
    display: flex;
    align-items: center;
    width: 50rem;
    margin: 1rem 0;
    .left,
    .right {
        width: 50%;
        display: flex;
        align-items: center;
    }
    .right {
        justify-content: flex-end;
        button {
            width: 5rem;
            height: 2rem;
            border-radius: 5px;
            @include flex();
            color: white;
            border: 1px solid $border-color;
            background-color: $second-color;
            &:hover {
                background-color: $second-color-hover;
            }
        }
    }
    .left {
        justify-content: flex-start;
        h1 {
            color: $main-color;
            font-weight: 700;
        }
    }
}
@media only screen and (max-width: 1500px) {
    .details-content{
        p{
            width:30rem;
        }
    }
    .price-line{
        width:30rem;
    }
    .opinion{
        width:30rem;
        h1{
            font-size: 0.8rem;
        }
        .middle input{
            width:13rem;
        }
        .right select{
            padding: 0;
            width:4rem;
        }
    }
}
@media only screen and (max-width: 1000px) {
    .details{
        .search-filters{
            display: none;
        }
    }
}
@media only screen and (max-width: 650px) {
    .details-content{
        p{
            width:20rem;
            font-size: 0.7rem;
        }
        img{
            width:20rem;
        }
        h2{
            font-size: 1.2rem;
        }
        h1{
            font-size: 0.8rem;
        }
    }
    .price-line{
        width:20rem;
    }
    .opinion{
        width:20rem;
        flex-direction: column;
        .left,.middle,.right{
            width:100%;
            justify-content: center;
            align-items: center;
            padding: 0.2rem 0;
        }
        .left h1{
            font-size: 0.8rem;
        }
        h1{
            font-size: 0.7rem;
        }
        .middle input{
            width:13rem;
        }
        .right select{
            padding: 0;
            width:4rem;
        }
    }
}
@media only screen and (max-width: 650px) {
    .details-content{
        p{
            width:15rem;
        }
        img{
            width:15rem;
        }
    }
    .price-line{
        width:15rem;
    }
    .opinion{
        width:15rem;
        .middle input{
            width:11rem;
        }
    }
}