<div class="home">
  <div class="home-content">
    <h2>Find hotels, houses and much more to book</h2>
    <h1>From cozy cottages to luxury apartments</h1>
    <div class="search-bar">
      <input ng-model="data.city" ng-change="writeFunc()" ng-focus="focusFunc($event)" ng-blur="blurFunc($event)">
      <input ng-click="showCalendar()" value="Check-in - Check-out">
      <h1  ng-click="showRoomsSettings()">{{adults}} adults - {{children}} children - {{rooms}} room</h1>
      <a ng-click="searchFilter()" ng-href="#!/search/">
      <button ng-show="data.city==='' || data.city==='What is your destination?'">Search</button>
      </a>
      <a ng-click="searchFilter()" ng-href="#!/search/{{data.city}}">
        <button ng-show="data.city!=='' && data.city!=='What is your destination?'">Search</button>
      </a>
    </div>
    <ng-include src="'views/calendar.html'"></ng-include>
    <ng-include src="'views/room-settings.html'"></ng-include>
    <div class="ad">
      <div class="img1">
        <img
          ng-src="{{hotels[0].img}}">
      </div>
      <div class="img2">
        <img
        ng-src="{{hotels[1].img}}">
      </div>
      <div class="img3">
        <img
        ng-src="{{hotels[2].img}}">
      </div>
      <div class="img4">
        <img
        ng-src="{{hotels[3].img}}">
      </div>
      <div class="img5">
        <img
        ng-src="{{hotels[4].img}}">
      </div>
    </div>
  </div>
</div>