<div class="nav-bar">
    <div class="nav-bar-content">
        <div class="left">
            <a ng-href="#!/home/">
                <h2>Book</h2>
                <h2 id="aqua">Hotel</h2>
            </a>
        </div>
        <div class="right">
            <select ng-model="data.selectedCurrency" ng-change="updateCurrency()" ng-init="data.selectedCurrency='PLN'">
                <option value="PLN">PLN</option>
                <option value="EUR">EUR</option>
                <option value="USD">USD</option>
            </select>
            <a ng-href="#!/login">
                <button ng-show="logedAc===''">Login</button>
            </a>
            <a ng-href="#!/orders">
            <h1>{{logedAc}}</h1>
            </a>
            <button ng-click="logedAcChange('')" ng-show="logedAc!==''">Sign out</button>
            <a ng-href="#!/register">
                <button>Register</button>
            </a>
        </div>
    </div>
</div>