<div class="nav-bar">
    <div class="nav-bar-content">
        <div class="left">
            <a ng-href="#!/home/">
                <h2>Book</h2>
                <h2 id="aqua">Hotel</h2>
            </a>
        </div>
        <div class="right">
            <h1>zł</h1>
            <a ng-href="#!/login">
                <button ng-show="logedAc===''">Login</button>
            </a>
            <h1>{{logedAc}}</h1>
            <button ng-click="logedAcChange('')" ng-show="logedAc!==''">Sign out</button>
            <a ng-href="#!/register">
                <button>Register</button>
            </a>
        </div>
    </div>
</div>