@import '../global';

.nav-bar {
    width: 100vw;
    height: 3rem;
    @include flex();
    background-color: $main-color;
    color: white;
}
#aqua {
    color: rgb(0, 174, 255);
    margin-right: 0.5rem;
}
.nav-bar-content {
    width: 50%;
    display: flex;
    align-items: center;
    a {
        display: flex;
        color: white;
        text-decoration: none;
    }
    .left,
    .right {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .left {
        justify-content: flex-start;
        img{
            widows: 2rem;
            height:2rem;
            display: none;
        }
    }
    .right {
        justify-content: flex-end;

        select {
            border: 2px solid $second-color;
            background-color: $main-color-hover;
            color: white;
            border-radius: 3px;
        }
        h1 {
            margin: 0 1rem;
            font-size: 1rem;
            font-weight: 700;
        }
        button {
            margin: 0 1rem;
            padding: 0.2rem 1rem;
            border-radius: 2px;
            @include flex();
            background-color: white;
            color: $main-color;
            font-weight: 700;
            border: 2px solid white;
            &:hover {
                cursor: pointer;
            }
        }
    }
}
@media only screen and (max-width: 1600px) {
    .nav-bar-content .left{
        width: 40%;
    }
    .nav-bar-content .right{
        width: 60%;
    }
  }
  @media only screen and (max-width: 1350px) {
    .nav-bar-content .left{
        width: 30%;
    }
    .nav-bar-content .right{
        width: 70%;
    }
  }
  @media only screen and (max-width: 1150px) {
    .nav-bar-content .left{
        width: 20%;
    }
    .nav-bar-content .right{
        width: 80%;
    }
  }
  @media only screen and (max-width: 1000px) {
    .nav-bar-content{
        width: 60%;
    }
  }
  @media only screen and (max-width: 850px) {
    .nav-bar-content{
        width: 80%;
    }
  }
  @media only screen and (max-width: 660px) {
    .nav-bar-content{
        width: 90%;
    }
    .nav-bar-content .left h2{
        font-size: 1.2rem;
    }
    .nav-bar-content .right button,
    .nav-bar-content .right h1,
    .nav-bar-content .right select{
        margin: 0 0.5rem;
    }
    .nav-bar-content .right button{
        padding: 0.2rem 0.5rem;
        font-size: 0.8rem;
    }
    .nav-bar-content .right h1{
        font-size: 0.8rem;
    }
  }
  @media only screen and (max-width: 460px) {
    .nav-bar-content{
        width: 92%;
    }
    .nav-bar-content .left h2{
        display: none;
    }
    .nav-bar-content .left img{
        display: flex;
    }
    .nav-bar-content .left{
        width: 10%;
    }
    .nav-bar-content .right{
        width: 90%;
    }
    .nav-bar-content .right button,
    .nav-bar-content .right h1,
    .nav-bar-content .right select{
        margin: 0 0.3rem;
    }
  }