<div ng-controller="orders-controller">
    <div ng-show="deleteConfirm" class="confirm">
        <div class="confirm-content">
            <h1>Are you sure you want to delete this reservation?</h1>
            <div class="confirm-line">
                <div class="left">
                    <button ng-click="deleteOrder()">Yes</button>
                </div>
                <div class="right">
                    <button ng-click="deleteConfirmShow(false,null)">No</button>
                </div>
            </div>
        </div>
    </div>
<div class="orders" ng-show="logedAc!=='' && logedUser.orders.length>0">
    <h2 id="orders-sign">Your orders</h2>
    
    <div class="orders-display">
        <div  class="all-orders" ng-repeat="order in logedUser.orders">
            <div class="title-order-items">
                <div class="order-item" >
                    <h1>Image</h1>
                </div>
                <div class="order-item" >
                    <h1>Name</h1>
                </div>
                <div class="order-item" >
                    <h1> City</h1>
                </div>
                <div class="bigger-order-item" >
                    <h1>Date</h1>
                </div>
                <div class="smaller-order-item" >
                    <h1> Rating</h1>
                </div>   
            </div>
            <div class="order-items">
            <div class="order-item" >
                <img src="{{order.img}}">
            </div>
            <div class="order-item" >
                <h1>{{order.name}}</h1>
            </div>
            <div class="order-item" >
                <h1>{{order.city}}</h1>
            </div>
            <div class="bigger-order-item" >
                <h1>{{order.date}}</h1>
            </div>
            <div class="smaller-order-item" >
                <h1>{{order.rating}}</h1>
            </div>
        </div>
            <div class="title-order-items">

                <div class="order-item" >
                    <h1>Total Price</h1>
                </div>
                <div class="order-item" >
                    <h1>Rooms</h1>
                </div>
                <div class="order-item" >
                    <h1>Adults</h1>
                </div>
                <div class="order-item" >
                    <h1>Children</h1>
                </div>
                <div class="order-item" >
                </div>
            </div>
            <div class="order-items">

            <div class="order-item" >
                <h1>{{order.totalPrice}}</h1>
            </div>
            <div class="order-item" >
                <h1>{{order.rooms}}</h1>
            </div>
            <div class="order-item" >
                <h1>{{order.adults}}</h1>
            </div>
            <div class="order-item" >
                <h1>{{order.children}}</h1>
            </div>
            <div class="order-item" >
                <button ng-click="deleteConfirmShow(true,order.id)"></button>
            </div>
            </div>
        </div>
        
    </div>
    
</div>
<div class="orders" ng-show="logedAc!=='' && logedUser.orders.length===0">
        <h1>There are not orders yet</h1>
</div>
<div class="orders" ng-show="logedAc===''">
    <h1>You are not logged</h1>
</div>
</div>