@import '../global';

.orders {
    width: 100vw;
    height: calc(100vh - 3rem);
    @include flex(flex-start,center,row);
    background-color: rgb(240, 240, 240);
    flex-direction: column;
}
.orders-display {
    height: auto;
    display: flex;
    flex-direction: column;
}
#orders-sign{
    width:40rem;
}
.order-items {
    width: auto;
    height: 3rem;
    display: flex;
    align-items: center;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
}
.title-order-items {
    width: auto;
    height: 2rem;
    display: flex;
    align-items: center;
    background-color: $main-color;
    color: white;
    font-weight: 700;
}
.all-orders{
    margin-bottom: 2rem;
}
.order-item,
.smaller-order-item,
.bigger-order-item {
    width: 10rem;
    height: 100%;
    border: 1px solid $border-color;
    border-left: 0;
    border-right: 0;
    @include flex();
}
.order-item {
    button {
        clip-path: polygon(
            20% 0%,
            0% 20%,
            30% 50%,
            0% 80%,
            20% 100%,
            50% 70%,
            80% 100%,
            100% 80%,
            70% 50%,
            100% 20%,
            80% 0%,
            50% 30%
        );
        border: 0;
        width: 1.5rem;
        height: 1.5rem;
        background-color: $second-color;
        transition: background-color 500ms;
        &:hover {
            cursor: pointer;
            background-color: $second-color-hover;
        }
    }
}
.bigger-order-item {
    width: 16rem;
    height: 100%;
}
.smaller-order-item {
    width: 4rem;
    height: 100%;
}
.order-item,
.smaller-order-item,
.bigger-order-item {
    img {
        width: 4rem;
        height: 2.5rem;
    }
}
.order-item,
.smaller-order-item,
.bigger-order-item {
    h1 {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 1150px) {
    .order-item{
    width: 7rem;
    }
    #orders-sign{
        width:35rem;
    }
    .bigger-order-item{
        width: 9rem;
        }
        .smaller-order-item{
            width: 5rem;
            }
            .order-item h1, .smaller-order-item h1, .bigger-order-item h1 {
                font-size: 0.8rem;
            }
}
@media only screen and (max-width: 750px) {
    .order-item{
    width: 5rem;
    }
    #orders-sign{
        width:25rem;
    }
    .bigger-order-item{
        width: 6rem;
        }
        .smaller-order-item{
            width: 4rem;
            }
            .order-item h1, .smaller-order-item h1, .bigger-order-item h1 {
                font-size: 0.7rem;
            }
}
@media only screen and (max-width: 500px) {
    .order-item{
    width: 4rem;
    }
    #orders-sign{
        width:20rem;
        font-size: 1.2rem;
    }
    .bigger-order-item{
        width: 5rem;
        }
        .smaller-order-item{
            width: 3rem;
            }
            .order-item img, .smaller-order-item img, .bigger-order-item img {
                width: 3rem;
                height: 2rem;
            }
}