<div class="search" ng-controller="search-controller">
    <div class="search-filters">
        <h2>Search</h2>
        <h1>Destination</h1>
        <input ng-model="cityFilter">
        <h1>From</h1>
        <input ng-model="firstDate" ng-click="showCalendar()" ng-readonly="true">
        <ng-include src="'views/calendar2.html'"></ng-include>
        <h1>To</h1>
        <input ng-model="secondDate" ng-click="showCalendar()" ng-readonly="true">
        <select ng-model="adultsNum">
            <option value="1">1 adult</option>
            <option ng-repeat="num in selectArray" value="{{num}}">{{num}} adults</option>
        </select>
        <div class="search-line">
            <select ng-model="childrenNum">
                <option value="0">0 children</option>
                <option value="1">1 children</option>
                <option ng-repeat="num in selectArray" value="{{num}}">{{num}} children</option>
            </select>
            <select ng-model="roomsNum">
                <option value="1">1 room</option>
                <option ng-repeat="num in selectArray" value="{{num}}">{{num}} rooms</option>
            </select>
        </div>
        <a ng-href="#!/search/{{cityFilter}}/{{adultsNum}}-{{childrenNum}}-{{roomsNum}}">
            <button
                ng-show="firstDate==='Check In' || secondDate==='Check Out' || firstDate==='' || secondDate===''">SEARCH</button>
        </a>
        <a ng-href="#!/search/{{cityFilter}}/{{adultsNum}}-{{childrenNum}}-{{roomsNum}}/{{firstDate}}-{{secondDate}}">
            <button
                ng-show="firstDate!=='Check In' && secondDate!=='Check Out' && firstDate!=='' && secondDate!==''">SEARCH</button>
        </a>
    </div>
    <div class="search-content">
        <div class="filters">
            <button ng-click="filterFunc($event,1)">
                Price (from lowest)
            </button>
            <button ng-click="filterFunc($event,2)">
                Price (from highest)
            </button>
            <button ng-click="filterFunc($event,3)">
                Rating (from highest)
            </button>
            <button ng-click="filterFunc($event,4)">
                Rating (from lowest)
            </button>
            <button ng-click="filterFunc($event,5)">
                Stars 1-5 
            </button>
            <button ng-click="filterFunc($event,6)">
                Stars 5-1 
            </button>
        </div>
        <div class="hotels" ng-repeat="item in hotels  | orderBy:order">
            <div class="hotel" ng-show="item.city.toLowerCase().includes(cityFilter.toLowerCase())">
                <div class="left-side">
                    <img ng-src="{{item.img}}">
                </div>
                <div class="middle-side">
                    <a ng-href="#!/{{item.name}}/{{cityFilter}}/{{adultsNum}}-{{childrenNum}}-{{roomsNum}}">
                        <h2
                            ng-show="firstDate==='Check In' || secondDate==='Check Out' || firstDate==='' || secondDate===''">{{item.name}}</h2>
                    </a>
                    <a ng-href="#!/{{item.name}}/{{cityFilter}}/{{adultsNum}}-{{childrenNum}}-{{roomsNum}}/{{firstDate}}-{{secondDate}}">
                        <h2
                            ng-show="firstDate!=='Check In' && secondDate!=='Check Out' && firstDate!=='' && secondDate!==''">{{item.name}}</h2>
                    </a>
                    <div class="stars-line">
                        <img src="imgs/star.png" ng-repeat="x in [].constructor(item.stars) track by $index">
                    </div>
                    <h1>{{item.city}}</h1>
                    <p>{{item.shortDescription}}</p>
                </div>
                <div class="right-side">
                    <h2>{{item.rating}}</h2>
                    <h1 ng-show="timeDifference">{{timeDifference*item.price*roomsNum | currency:"PLN"}}</h1>
                    <button>Show prices</button>
                </div>
            </div>
        </div>
        <div class="hotels" ng-show="!found">
            <h1>No hotel for this city found</h1>
        </div>
    </div>
</div>
</div>