<div class="search" ng-controller="search-controller">
    <div ng-show="addConfirm" class="confirm">
        <div class="confirm-content">
            <h1>Are you sure you want to reserve this hotel?</h1>
            <div class="confirm-line">
                <div class="left">
                    <button ng-click="reserveFunc(item)">Yes</button>
                </div>
                <div class="right">
                    <button ng-click="addConfirmShow(false,null)">No</button>
                </div>
            </div>
        </div>
    </div>
    <div class="search-filters">
        <h2>Search</h2>
        <h1>Destination</h1>
        <input ng-model="data.city">
        <h1>From</h1>
        <input ng-model="checkIn" ng-click="showCalendar()" ng-readonly="true">
        <ng-include src="'views/calendar.html'"></ng-include>
        <h1>To</h1>
        <input ng-model="checkOut" ng-click="showCalendar()" ng-readonly="true">
        <select ng-model="adults">
            <option value="1">1 adult</option>
            <option ng-repeat="num in selectArray" value="{{num}}">{{num}} adults</option>
        </select>
        <div class="search-line">
            <select ng-model="children">
                <option value="0">0 children</option>
                <option value="1">1 children</option>
                <option ng-repeat="num in selectArray" value="{{num}}">{{num}} children</option>
            </select>
            <select ng-model="rooms">
                <option value="1">1 room</option>
                <option ng-repeat="num in selectArray" value="{{num}}">{{num}} rooms</option>
            </select>
        </div>
        
        <a ng-href="#!/search/{{data.city}}/{{adults}}-{{children}}-{{rooms}}">
            <button
                ng-show="checkIn==='Check In' || checkOut==='Check Out' || checkIn==='' || checkOut===''">SEARCH</button>
        </a>
        <a ng-href="#!/search/{{data.city}}/{{adults}}-{{children}}-{{rooms}}/{{checkIn}}-{{checkOut}}">
            <button
                ng-show="checkIn!=='Check In' && checkOut!=='Check Out' && checkIn!=='' && checkOut!==''">SEARCH</button>
        </a>
    </div>
    <div class="search-content">
        <div class="filters">
            <button ng-click="filterFunc($event,1)">
                Price (from lowest)
            </button>
            <button ng-click="filterFunc($event,2)">
                Price (from highest)
            </button>
            <button ng-click="filterFunc($event,3)">
                Rating (from highest)
            </button>
            <button ng-click="filterFunc($event,4)">
                Rating (from lowest)
            </button>
            <button ng-click="filterFunc($event,5)">
                Stars 1-5
            </button>
            <button ng-click="filterFunc($event,6)">
                Stars 5-1
            </button>
        </div>
        <div class="hotels" ng-repeat="item in hotels  | orderBy:order">
            <div class="hotel" ng-show="item.city.toLowerCase().includes(data.city.toLowerCase())">
                <div class="left-side">
                    <img ng-src="{{item.img}}">
                </div>
                <div class="middle-side">
                    <a ng-href="#!/{{item.name}}/{{data.city}}/{{adults}}-{{children}}-{{rooms}}">
                        <h2
                            ng-show="firstDate==='Check In' || secondDate==='Check Out' || firstDate==='' || secondDate===''">
                            {{item.name}}</h2>
                    </a>
                    <a
                        ng-href="#!/{{item.name}}/{{data.city}}/{{adults}}-{{children}}-{{rooms}}/{{checkIn}}-{{checkOut}}">
                        <h2
                            ng-show="firstDate!=='Check In' && secondDate!=='Check Out' && firstDate!=='' && secondDate!==''">
                            {{item.name}}</h2>
                    </a>
                    <div class="stars-line">
                        <img src="imgs/star.png" ng-repeat="x in [].constructor(item.stars) track by $index">
                    </div>
                    <h1>{{item.city}}</h1>
                    <p>{{item.shortDescription}}</p>
                </div>
                <div class="right-side">
                    <h2>{{item.rating}}</h2>
                    <h1 ng-show="item.freeRooms>=5">Rooms left: {{item.freeRooms}}</h1>
                    <h1 id="warning" ng-show="item.freeRooms<5 && item.freeRooms>0">Rooms left: {{item.freeRooms}}</h1>
                    <h1 id="warning" ng-show="item.freeRooms===0">No Rooms Left</h1>    
                    <h1 ng-show="timeDifference">
                        {{timeDifference*item.price*currencyMultiplier*rooms | currency: data.selectedCurrency}}</h1>
                    <button ng-show="logedAc!=='' && item.freeRooms>0 && checkIn!=='Check In' && checkOut!=='Check Out'" ng-click="addConfirmShow(true,item)">Reserve</button>
                    <a href="#!/login">
                        <h1 id="orange" ng-show="logedAc==='' && item.freeRooms>0">Login to reserve</h1>
                    </a>

                </div>
            </div>
        </div>
        <div class="hotels" ng-show="!found">
            <h1>No hotel for this city found</h1>
        </div>
    </div>
</div>
</div>